逐流追踪检测技术

[华为iFIT技术](https://e.huawei.com/cn/material/networking/ne-router/ef590bf09f04472b95175f5344aa27bf)

# 网络性能检测技术：

## 主动检测：
通过构造检测报文方式，对检测报文进行时延、丢包等SLA测量，间接获得网络质量。如RFC 2544、TWAMP/OWAMP、Y.1564等均为主动检测技术。由于测量的不是真实业务流量，主动检测的准确度与实际网络存在一定偏差。

## 被动测量：
指直接对实际业务流进行测量的检测技术，如思科主导的in-situ OAM、Barefoot主导的INT、我司主导的IPFPM等技术。被动测量基于实际业务流，测量精度高。

## 混合测量：
介于主动测量与被动测量之间，通过构造少量辅助检测报文，对实际业务流进行SLA测量，例如Y.1731（CFM LM）、MPLS-TP OAM（LM）、RFC 6374等。由于部分检测是基于实际业务流，其测量精度也较高。

# 业界标准
## TWAMP
主要用于端到端IP业务流级检测，但由于是测量构造的检测报文，检测精度较低，且无逐跳检测能力。

## RFC 2544、Y.1564
通常用于测量设备、网络的SLA能力，与实际业务流的SLA也存在一定差距。

## Y.1731（CFM）
仅用于L2业务，无法适用三层业务的检测；

## MPLS-TP OAM、RFC 6374
仅支持MPLS管道级测试，且不支持乱序、负载分担、点到多点场景，如LAG、ECMP、双归等，同时也不支持逐跳测量。

## In-situ OAM、INT
是当前比较热门的被动测量技术，其主要原理是在原始数据报文中增加OAM检测头，在业务转发路径中根据检测头进行数据采集，再通过集中处理单元计算检测结果。此类随流检测技术具有实时、高精度、检测性能项丰富等优点，但其测量数据量巨大，对业务自身转发性能影响也较大，目前较多考虑在数据中心场景中使用，在移动承载网络中还存在一定差距。

## IPFPM（RFC 8321）
是我司主推的一种被动测量技术，其原理基于RFC 8321（Alternate-Marking Method for Passive and Hybrid Performance Monitoring），对实际流量进行周期交替染色（标记），对染色标记进行测量统计、时戳记录，获得丢包、时延测量结果。相比In-situ OAM、INT随流检测技术，IPFPM对转发面影响较小，产生少量的测量数据，同时可保证测量结果精准。IPFPM基于IP头染色，在MPLS/MPLS-SR场景中也需要深度处理MPLS净荷，在应用场景及部署上存在一些不足。


